@import url('https://fonts.adobe.com/fonts/ag-choijeongho-screen#licensing-section');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body
{
 min-height: 100vh;
 background: #150019;  
 overflow: hidden;
}

.navigation
{
 position: fixed;
 width: 60px;
 height: 100%;
 background: #181829;
 transition: 0.5s;
 overflow: hidden;
 font-family: 'source-han-sans-cjk-ko', sans-serif;
 font-style: normal;
 z-index: 1;
}
.navigation:hover
{
 width:310px;    
}
.navigation ul
{
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     color: #fff;
}
.navigation ul li
{
 position: relative;
 width:100%;
 list-style: none;    
}
.navigation ul li:hover
{
  background:#0ac1fd;
}
.navigation ul li a
{
 position: relative;
 display: block;
 width:100%;
 display: flex;
 text-decoration: none;
 color:#fff;
}
.navigation ul li a .icon
{
 position:relative;
 display: block;
 min-width:60px;
 height: 60px;
 line-height: 60px;
 text-align:center; 
}
.navigation ul li a .icon .fa
{
 font-size:24px;
}
.navigation ul li a .title
{
 position:relative;
 display: block;
 padding: 0 2px;
 height: 60px;
 line-height: 60px;
 text-align:start;
 white-space: nowrap; 
}
.toggle
{
 position:absolute;
 top: 0;
 right: 0;
 width: 60px;
 height: 60px;
 background: #181829;
 cursor: pointer;    
}
.toggle:hover
{
  background:#0ac1fd;
}
.toggle:before
{
 content:'\f0c9';
 font-family: 'FontAwesome';
 position: absolute;
 width: 100%;
 height: 100%;
 line-height: 60px;
 text-align: center;
 font-size: 24px;
 color:#fff;
}

/* reset */
    button {
     padding:0;
     background:none;
     border:0;
     cursor:pointer;
   }
   
   /* 버튼 영역 */
   .btnBox {
     text-align:center;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      z-index: 2;
   }
   
   .popOpenBtnCmmn {
     position: absolute;
     width: 180px; 
     height: 60px;
     cursor: pointer;
     background: #181829;
     box-shadow: 0 10px 40px rgba(0,0,0,0.2);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     color: #fff;
     transform:translateX(calc(var(--mouse-x) * 0.2px)) translateY(calc(var(--mouse-y) * 0.2px));
     font-family: 'agchoijeongho-screen', sans-serif;
     font-style: normal;
     font-weight: 400;
   }
   
   .popOpenBtnCmmn:hover {
     transform: translate(-50px);
     box-shadow: 0 10px 40px rgba(0,0,0,0.2);
     background: linear-gradient(45deg,#00fffc,#0ac1fd);
   }
   
   /* 팝업 영역 */
   .popCmmn {
     display:none;
     position:fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
   }
   
   .popBg {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background:rgba(0,0,0,0.7);
     opacity: 65%;
   }
   
   .popInnerBox {
     display:flex;
     justify-content:space-between;
     flex-direction:column;
     position:absolute;
     top:50%;
     left:50%;
     width:500px;
     height:350px;
     margin:-125px 0 0 -200px;
     text-align:center;
     background:#202036;
     opacity: 95%;
     border-radius:5px;
   }
   
   .popHead {
     padding:15px;
     color: #00fffc;
     font-size:40px;
     opacity: 100%;
     font-family: optique-display, sans-serif;
     font-weight: 700;
     font-style: normal;
     text-align: left;
   }
   .popHead2
   {
    padding:15px;
    color: #00fffc;
    font-size:32px;
    opacity: 100%;
    font-family: optique-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
   }
   .popmiddle2
   {
    padding:15px;
    color: #6a73fb;
    font-size:25px;
    opacity: 100%;
    text-align: left;
    margin-top: -9%;
    margin-bottom: -8%;
    font-family: kozuka-mincho-pr6n, serif;
    font-weight: 700;    
    font-style: normal;
   }
   .popmiddle
   {
     padding:15px;
     color: #6a73fb;
     font-size:30px;
     opacity: 100%;
     text-align: left;
     margin-top: -14.5%;
     margin-bottom: -12%;
     font-family: kozuka-mincho-pr6n, serif;
     font-weight: 700;    
     font-style: normal;
     margin-top: -13%;
   }
   .popBody {
     padding:15px;
     box-sizing:border-box;
     font-size:14px;
     text-align: left;
     line-height: 1.5em;
     color: #0ac1fd;
     opacity: 100%;
     column-gap: 100px!important;
     font-family: 'agchoijeongho-screen', sans-serif;
     font-style: normal;
   }

   .popCloseBtnCmmn {
     width:15%;
     margin:10px;
     padding:10px;
     font-size:16px;
     background:#999;
     color:#fff;
     transition:all 0.3s;
     margin-bottom: 20px;
   }
   
   .popCloseBtnCmmn:hover {
     background:#666;
   }

.center
{
 display: flex;
 justify-content: center;
 align-items: center;
 }
.main
{
 width: 100%;
 height: 100vh;
}

.toggle
{
 position: absolute;
 top: 0;
 right: 0;
 width: 50px;
 height: 50px;
 background: #181829;
 cursor: pointer;
 z-index: 2;
}
.toggle:hover
{
  background: linear-gradient(45deg,#00fffc,#0ac1fd);
}
.toggle:before
{
 content:'X';
 font-family: fontAwesome;
 position: absolute;
 width: 100%;
 height: 100%;
 line-height: 50px;
 text-align: center;
 font-size: 24px;
 color:#fff;
}
.toggle:hover:before
{
 content: 'X';
}